{% extends 'layout.html.twig' %}

{% form_theme form ':form:ios-checkbox.html.twig' %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/iosCheckbox/iosCheckbox.css') }}"/>
{% endblock %}

{% block body %}
    <div class="col-md-6">
        <div class="row col-md-12 inside-wrapper">
            <div class="col-md-12">
                <h1>Ajouter une tâche</h1>

                {{ form_errors(form) }}
                {{ form_start(form) }}
                <div class="row col-md-12 marginBottom25px">
                    <div class="col-md-8">
                        {{ form_label(form.title) }}
                        {{ form_widget(form.title) }}
                    </div>
                    <div class="col-md-4 ios-checkbox-align">
                        A faire {{ form_widget(form.status) }} Fait
                    </div>
                </div>
                <div class="row col-md-12">
                    <div class="col-md-6 center">
                        <a href="{{ path('tasklist_show', {'id': tasklist.id}) }}" class="btn btn-secondary">Retour</a>
                    </div>
                    <div class="col-md-6 center">
                        <button type="submit" class="btn btn-success">Ajouter</button>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="{{ asset('bundles/iosCheckbox/iosCheckbox.min.js') }}"></script>
    <script language="javascript" type="text/javascript">
        (function ($) {
            $(".ios").iosCheckbox();
        })(jQuery);
    </script>
{% endblock %}
