{% extends 'layout.html.twig' %}

{% block body %}
    <div class="col-md-6">
        <div class="row col-md-12 inside-wrapper">
            <div class="col-md-12">
                <h1>Ajouter une nouvelle liste de tâches</h1>

                {{ form_errors(form) }}
                {{ form_start(form) }}
                <div class="row col-md-12">
                    <div class="col-md-12">
                        {{ form_row(form.name) }}
                    </div>
                </div>
                <div class="row col-md-12">
                    <div class="col-md-6 center">
                        <a href="{{ path('tasklist_index') }}" class="btn btn-secondary">Retour</a>
                    </div>
                    <div class="col-md-6 center">
                        <button type="submit" class="btn btn-success">Ajouter</button>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
