{% extends 'layout.html.twig' %}

{% block body %}
    <div class="col-md-6 inside-wrapper">
        <div class="row col-md-12">
            <h1>Page d'accueil</h1>
        </div>
        <div class="row col-md-12">
            {% if tasklists %}
                <table id="tasklistTable" class="table table-striped">
                    <thead>
                    <tr>
                        <th>Nom de la liste</th>
                        <th>Nombres de tâches</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for tasklist in tasklists %}
                        <tr>
                            <td class="center"><a
                                        href="{{ path('tasklist_show', {'id': tasklist.id}) }}">{{ tasklist.name }}</a>
                            </td>
                            <td class="right">{{ tasklist.getTasksCount() }}</td>
                            <td class="center">
                                <a href="{{ path('tasklist_show', {'id': tasklist.id}) }}" class="btn btn-primary">
                                    <i class="fa fa-eye fa-lg"></i>
                                </a>
                                <a href="{{ path('tasklist_delete', {'id': tasklist.id}) }}" class="btn btn-danger">
                                    <i class="fa fa-trash-o fa-lg"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="col-md-12 alert alert-warning" role="alert">
                    <strong>Attention !</strong> Aucune liste n'est renseignée pour le moment.
                </div>
            {% endif %}
        </div>
        <div class="col-md-12">
            <div class="col-md-12 center">
                <a href="{{ path('tasklist_add') }}" class="btn btn-success">Créer une liste</a>
            </div>
        </div>
    </div>
{% endblock %}
