{% extends 'layout.html.twig' %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
{% endblock %}



{% block body %}
    <div class="col-md-6 inside-wrapper">
        <div class="col-md-12 row marginBottom25px">
            <div class="col-md-11 page-title">
                <h1 contenteditable="false" class="tasklist-title">{{ tasklist.name }}</h1>
            </div>
            <div class="col-md-1 right margin-auto">
                <button type="button" class="btn btn-primary edit-tasklist-title">
                    <i class="fa fa-pencil-square-o fa-lg"></i>
                </button>
            </div>
        </div>
        <div class="col-md-12 tasklist-tasks marginBottom25px">
            {% if tasklist.getTasksCount() == 0 %}
                <div class="alert alert-warning" role="alert">
                    <strong>Attention !</strong> Cette liste ne contient pas de tâche.
                </div>
            {% else %}
                <table id="tasksTable" class="table">
                    <thead>
                    <tr>
                        <th class="hidden">Id</th>
                        <th class="center width10"></th>
                        <th class="width50">Titre</th>
                        <th class="center width20">Etat</th>
                        <th class="center width20">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for task in tasklist.tasks %}
                        <tr>
                            <td class="hidden task-id">{{ task.id }}</td>
                            <td>
                                <a href="{{ path('task_change_status', {'id': task.id}) }}" class="btn btn-warning" title="Changer le statut">
                                    {% if task.status %}
                                        <i class="fa fa-check-square-o fa-lg"></i>
                                    {% else %}
                                        <i class="fa fa-square-o fa-lg"></i>
                                    {% endif %}
                                </a>
                            </td>
                            <td class="task-title" contenteditable="false">
                                <div {% if task.status %}class="task-done"{% endif %}>{{ task.title }}</div>
                            </td>
                            <td class="center">
                                {% if task.status %}
                                    Fait
                                {% else %}
                                    À faire
                                {% endif %}
                            </td>
                            <td class="center">
                                <button type="button" class="btn btn-primary edit-task">
                                    <i class="fa fa-pencil-square-o fa-lg"></i>
                                </button>
                                <a href="{{ path('task_delete', {'id': task.id}) }}" class="btn btn-danger">
                                    <i class="fa fa-trash-o fa-lg"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            {% endif %}

        </div>
        <div class="row col-md-12 tasklist-buttons">
            <div class="col-md-4 center">
                <a href="{{ path('tasklist_index') }}" class="btn btn-md btn-secondary">Retour</a>
            </div>
            <div class="col-md-4 center">
                <a href="{{ path('tasklist_delete-done-tasks', {'id': tasklist.id}) }}" class="btn btn-md btn-danger">Supprimer
                    "fait"</a>
            </div>
            <div class="col-md-4 center">
                <a href="{{ path('tasklist_add-task', {'id': tasklist.id}) }}" class="btn btn-md btn-primary">Ajouter
                    une tâche</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ parent() }}

    <script src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

    <script type="text/javascript">
        (function ($) {
            function editTaskListTitle() {
                var buttonSave = $(this);

                if ($(".tasklist-title").attr("contenteditable") === "true") {
                    var inputValue = $(".tasklist-title").html();

                    $(".tasklist-title").attr("contenteditable", false);
                    $.ajax({
                        url: Routing.generate('tasklist_edit_ajax', {id: {{ tasklist.id }} }),
                        type: "POST",
                        data: 'name=' + inputValue,
                        success: function (data) {
                            buttonSave.find("i").removeClass("fa-floppy-o").addClass("fa-pencil-square-o");

                            if (data.status == 1) {
                                toastr.info(data.message);
                            } else {
                                $(".tasklist-title").html("{{ tasklist.name }}");
                                toastr.error(data.message);
                            }
                        },
                        error: function (data) {
                        }
                    });
                } else {
                    $(".tasklist-title").attr("contenteditable", true);
                    buttonSave.find("i").removeClass("fa-pencil-square-o").addClass("fa-floppy-o");
                }

            }

            function editTask() {
                var buttonSave = $(this);

                if ($(this).parent().parent().find(".task-title").attr("contenteditable") === "true") {
                    var taskId = $(this).parent().parent().find(".task-id").html();
                    var inputValue = $(this).parent().parent().find(".task-title").find("div").html();

                    $(".task-title").attr("contenteditable", false);
                    $.ajax({
                        url: Routing.generate('task_edit_ajax', {id: taskId}),
                        type: "POST",
                        data: 'title=' + inputValue,
                        success: function (data) {
                            buttonSave.find("i").removeClass("fa-floppy-o").addClass("fa-pencil-square-o");
                            toastr.info(data);
                        },
                        error: function (data) {
                        }
                    });
                } else {
                    $("tr[data-initial]").find(".task-title").find("div").html($("tr[data-initial]").attr("data-initial"));
                    $("tr[data-initial]").removeAttr("data-initial");

                    $(".fa-floppy-o").removeClass("fa-floppy-o").addClass("fa-pencil-square-o");
                    $(".task-title").attr("contenteditable", false);
                    $(this).parent().parent().find(".task-title").attr("contenteditable", true);

                    $(this).parent().parent().attr("data-initial", $(this).parent().parent().find(".task-title").find("div").html());

                    buttonSave.find("i").removeClass("fa-pencil-square-o").addClass("fa-floppy-o");
                }
            }

            $('.edit-task').on("click", editTask);
            $('.edit-tasklist-title').on("click", editTaskListTitle);
        })(jQuery);
    </script>
{% endblock %}
