.center {
    text-align: center;
}

.margin-auto {
    margin: auto;
}

.right {
    text-align: right;
}

.red {
    color: #ff8173;
}

.hidden {
    display: none;
}

.width10 {
    width: 10%;
}

.width20 {
    width: 20%;
}

.width50 {
    width: 50%;
}

td[contenteditable="true"] > .task-done {
    text-decoration: initial;

}

td[contenteditable="true"] {
    background-color: #f9ffc6;
    border-bottom: 1px solid black;
}

h1[contenteditable="true"] {
    background-color: #f9ffc6;
    padding: 5px;
    border-bottom: 1px solid black;
}

.task-done {
    text-decoration: line-through;
}

.outside-wrapper {
    background-color: #dfdfdf;
}

.marginBottom25px {
    margin-bottom: 25px;
}

.marginLeft25px {
    margin-left: 25px;
}

.inside-wrapper {
    background-color: white;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 25px;
}

.ios-checkbox-align {
    padding: 25px;
    font-size: 24px;
}

#tasksTable {
    border-bottom: 2px solid #e9ecef;
}
